
#drum-machine {
    background-color: transparent;  
}
#display {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    color: #5AFF3D;
}

#drum-pads {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
