
#drum-machine {
    background-color: #8651c4;  
}
#display {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

#drum-pads {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
